[Desktop Entry]
Type=Application
Name=Valet Manager
GenericName=Valet+ Manager
Comment=Native Linux GUI for Laravel Valet+
Exec=valet-manager %u
Icon=valet-manager
Terminal=false
Categories=Development;
Keywords=valet;laravel;php;nginx;
StartupWMClass=Valet Manager
MimeType=x-scheme-handler/valet-manager;
